1. Write a NumPy program to read a CSV data file and store records in an array.

In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
def numpy_read(file_name):
    path = os.path.normpath(file_name)
    df = pd.read_csv(path)
    return df

In [7]:
file = input("Enter File Path: ")
df = numpy_read(file)
df

Enter File Path:  data1.csv

   A  B  C  D
0  1  5  2  5
1  2  4  3  6
2  3  3  4  7
3  4  2  5  8
4  5  1  6  9